$arrow-color: #80ac06;
$hover-color: #c7f00c;

.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 20px solid $arrow-color;
  cursor: pointer;

  &:hover {
    border-right: 20px solid $hover-color;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 20px solid $arrow-color;
  cursor: pointer;

  &:hover {
    border-left: 20px solid $hover-color;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
  min-width: max-content;
}

.middle_card {
  border-radius: 25px;
  width: 232px;
  height: 325px;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  h3 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 3px;
  }

  p {
    font-size: 10pt;
    color: black;
    margin-bottom: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
  }
}

.side_card {
  width: 197px;
  height: 266px;
  opacity: 0.5; /* Side cards are semi-transparent */
  border-radius: 25px;
  transition: all 0.5s ease-in-out;

  h3 {
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;
    line-clamp: 1;
  }

  p {
    font-size: 8pt;
    color: black;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

.hidden_card {
  display: none;
}

.progress-container {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: #252525;
}

.progress-bar {
  height: 8px;
  background: #c7f00c;
  width: 0%;
  border-radius: 10px;
}
